#two
{
  text-align: center;
  height:100vh;
}
#pro
{
  object-position: left;
  text-align:left;
  padding-right: 80%; 
    display: inline-block;

}
#try
{
  display: inline-block;
}
#my-card
{
  background-color: white;
  margin-top: 2vh;
  border-radius: -10px;
}
#like
{
  
}
#interact
{
}
body
{
    background-color: rgb(230,230,230);

  overflow-y: scroll; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

.bg-custom {
  background-color:rgb(50,171,236);
  color: #fff;;
  border-radius: 0px 0px 10px 10px;
}

#navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
}
#card
{
  background-color: white;
  border-radius:10px;
  margin-top: 9vh;
  margin-left: 1vh;
  margin-right: 1vh;
  box-shadow: 1px 10px 10px rgba(0,0,0,0.3);
}
.btn
{
  background-color: rgb(50,171,236);
}
#t
{
  position: 
}
#navb
{

  padding-top:0;
  height: 50px;
  position: fixed;
  background-color: white;
  overflow: hidden;
   width: 100%;
}
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#card2
{
  margin-top: 10px;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: lightgrey;
  color: white;
}
#more
{
  width:1px;
  background-color: transparent;
  color:black;
  border:none;
  justify-content: center;
  padding-top: 180%;
}
#more-btn
{
  background-color: transparent;
  color:black;
  border:none;
}
#inp
{
  width:100%;
  border-radius: 10px 10px 10px;
  border-style: solid;
}
.opt .ul .li
{
  list-style-type: none;
  display: inline-block;
}
